<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <connectionStrings>
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=anatolicloudeigg;Persist Security Info=True;User ID=sa;Password=sa@123;" />-->
    <add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudRepositoryNew;Persist Security Info=True;User ID=sa;Password=sa@123;" />
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.201.169;Initial Catalog=anatolicloudrepository3;Persist Security Info=True;User ID=sa;Password=sa;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=79.175.166.186,3341;Initial Catalog=AnatoliCloudRepository3;Persist Security Info=True;User ID=sa;Password=sa@vn@87134;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.20.4.8;Initial Catalog=AnatoliCloudRepository;Persist Security Info=True;User ID=varanegar;Password=varanegar;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.160\db;Initial Catalog=AppService;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=217.218.53.71;Initial Catalog=anatolicloudrepository3;Persist Security Info=True;User ID=sa;Password=sa@123;" />-->

    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudRepository3;Persist Security Info=True;User ID=sa;Password=Sa123456;" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>