.vs/
DeviceBaseSystem.Business/bin/
DeviceBaseSystem.Business/obj/
DeviceBaseSystem.DataAccess/bin/
DeviceBaseSystem.DataAccess/obj/
DeviceBaseSystem.PMC.Business/bin/
DeviceBaseSystem.PMC.Business/obj/
DeviceBaseSystem.PMC.DataAccess/bin/
DeviceBaseSystem.PMC.DataAccess/obj/
DeviceBaseSystem.PMC.ViewModels/bin/
DeviceBaseSystem.PMC.ViewModels/obj/
DeviceBaseSystem.Rastak.Business/bin/
DeviceBaseSystem.Rastak.Business/obj/
DeviceBaseSystem.Rastak.DataAccess/bin/
DeviceBaseSystem.Rastak.DataAccess/obj/
DeviceBaseSystem.Rastak.ViewModels/bin/
DeviceBaseSystem.Rastak.ViewModels/obj/
DeviceBaseSystem.SDS.Business/bin/
DeviceBaseSystem.SDS.Business/obj/
DeviceBaseSystem.SDS.DataAccess/bin/
DeviceBaseSystem.SDS.DataAccess/obj/
DeviceBaseSystem.SDS.ViewModels/bin/
DeviceBaseSystem.SDS.ViewModels/obj/
DeviceBaseSystem.WebApi/bin/
DeviceBaseSystem.WebApi/obj/
DeviceBaseSystem.ViewModels/obj/
DeviceBaseSystems.Test/DeviceBaseSystems.Test.v12.suo
DeviceBaseSystems.Test/
DeviceBaseSystem.WebApi.v12.suo
DeviceBaseSystems.UI/DeviceBaseSystems.UI.v12.suo
DeviceBaseSystems.UI/DeviceBaseSystems.UI/bin/
DeviceBaseSystems.UI/DeviceBaseSystems.UI/obj/
