<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" />
  </system.web>
 
  <connectionStrings>

    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=AnatoliIdentity;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=79.175.166.186,3341;Initial Catalog=AnatoliCloudRepository3;Persist Security Info=True;User ID=sa;Password=sa@vn@87134;" />-->
    <add name="DeviceBaseSystemConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=DeviceBaseSystemRepository;Persist Security Info=True;User ID=sa;Password=sa@123;" />
    <add name="AnatoliLogConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudLog;Persist Security Info=True;User ID=sa;Password=sa@123;" />
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.160\db;Initial Catalog=AppService;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />-->
    <add name="SDSConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.13;Initial Catalog=yektapakhsh;Persist Security Info=True;User ID=dmc;Password=totalcommander;Max Pool Size=200;" />
    <add name="DMCConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.201.127;Initial Catalog=dmcyekta;Persist Security Info=True;User ID=sa;Password=sa@123;Max Pool Size=200;" />
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.160\db;Initial Catalog=Eigg_CN_TEST;Persist Security Info=True;User ID=pmc;Password=totalcommander;Max Pool Size=200;" />

    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=217.218.53.71;Initial Catalog=AppService;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.201.169;Initial Catalog=anatolicloudrepository5;Persist Security Info=True;User ID=sa;Password=sa;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.160\db;Initial Catalog=AppService;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />-->
    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudRepositoryNew;Persist Security Info=True;User ID=sa;Password=sa@123;" />-->
    <!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=192.20.4.6\varanegar;Initial Catalog=POS_CN_TEST;Persist Security Info=True;User ID=AppService;Password=app@123;" />-->
    <!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.160\db;Initial Catalog=Eigg_CN_TEST;Persist Security Info=True;User ID=pmc;Password=totalcommander;" />-->
    <!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=dmcyekta;Persist Security Info=True;User ID=sa;Password=Dr@gonfly;" />-->

    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AnatoliCloudRepository3;Persist Security Info=True;User ID=sa;Password=Sa123456;" />-->



    <!--<add name="AnatoliConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.201.127;Initial Catalog=AnatoliCloudRepositoryNew;Persist Security Info=True;User ID=sa;Password=sa@123;" />-->
    <!--<add name="AnatoliLogConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.201.127;Initial Catalog=AnatoliCloudLog;Persist Security Info=True;User ID=sa;Password=sa@123;" />-->
    <!--<add name="SDSConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=yekta;Persist Security Info=True;User ID=dmc;Password=Dr@gonfly;" />
    <add name="DMCConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=dmcyekta;Persist Security Info=True;User ID=sa;Password=Dr@gonfly;" />
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Eigg_CN_TEST;Persist Security Info=True;User ID=pmc;Password=Dr@gonfly;" />-->


  </connectionStrings>
 
  <appSettings>
    <add key="InternalServer" value="http://46.209.104.2:7000/" />
    <add key="server:URI" value="http://localhost" />
    <add key="smsService:Account" value="varanegar" />
    <add key="smsService:Password" value="varanegar" />
    <add key="emailService:Account" value="" />
    <add key="emailService:Password" value="" />
    <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
    <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />

    <add key="IdentityServerUrl" value="https://localhost:44300" />
    <add key="UseIdentityServer" value="false" />

  </appSettings>
 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="application/json;charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>