<div class="login-form k-rtl hide">
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="text" data-bind="value: loginEmail" placeholder="نام کاربری یا ایمیل" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="password" data-bind="value: loginPassword" placeholder="رمزعبور" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-lg btn-login">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> ورود
            </button>
        </div>
    </div>
    @*<div class="row"><span class="text-danger" data-bind="text: result" /></div>*@
</div>
